td{
    
    
    border-radius: 10%}
    
    
    .pertama{
        
        background-color: grey;
        
        
        
        
    }
    td:hover{
        
        
        
        background-color: orange;
    }